streamlit==1.60.0
pandas==2.2.3
requests==2.32.3
xmltodict==0.14.2
openpyxl==3.1.5
xlrd==2.0.1
fpdf2==2.8.7
PublicDataReader==1.1.1.post2
beautifulsoup4==4.13.3
pyproj==3.7.2
python-pptx==1.0.2
staticmap==0.5.7
Pillow==11.0.0
numpy==2.2.1
pytesseract==0.3.13
